
<!DOCTYPE html>
<html>
    <head>
        <style>
            h4 {display: inline;}
        </style>
        <title>Список пользователей</title>
    </head>
    <body>
        <h1>Список пользователей</h1>
        {% for user in users %}
            <div class="user" style="inline">
                <h4>{{ user.id }}</h4>
                <h4>{{ user.name }}</h4>
                <h4>{{ user.surname }}</h4>
                <h4>{{ user.age }}</h4>
            </div>
        {% endfor %}


    </body>
</html>